.header {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 45px;
}

.header::after {
  content: '';
  display: block;
  width: 880px;
  opacity: 0.7;
  border-bottom: 1px solid #545454;
  margin-top: 40px;
}

@media screen and (max-width: 890px) {
  .header::after {
    margin-top: 32px;
    margin-left: -18px;
    width: calc(100% + 36px);
  }

  .header {
  margin-top: 28px;
  }
}
